<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ambar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="cassandra_home" value="127.0.0.1"/>
      <add key="keyspace" value="ambar"/>
      <add key="admin"  value="PrzEllam"/>
      <add key="IVA" value="0.16" />
      <add key="Basic_kW" value="100" />
      <add key="Intermediate_kW" value="50" />
      <add key="Surplus_kW" value="0" />
    </appSettings>
    <userSettings>
        <Ambar.Properties.Settings>
            <setting name="DateOffset" serializeAs="String">
                <value />
            </setting>
        </Ambar.Properties.Settings>
    </userSettings>
</configuration>
