<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="cassandra_home" value="127.0.0.1"/>
      <add key="keyspace" value="ambar"/>
      <add key ="admin" value="PrzEllam"/>
      <add key="IVA" value="0.16" />
      <add key="Basic_kW" value="100" />
      <add key="Intermediate_kW" value="50" />
      <add key="Surplus_kW" value="0" />
      <add key="IVA" value="0.16"/>
    </appSettings>
</configuration>
